body {
  font-family: Arial, sans-serif;
  background-color: #e4a142;
}

.App {
  text-align: center;
  margin-top: 30px;
}

form input,
form select {
  margin: 5px;
  padding: 6px;
}

button {
  padding: 6px 10px;
  margin: 5px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: rgb(135, 108, 28);
  margin: 10px auto;
  padding: 10px;
  width: 400px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}